@import "./root.css";
@import "./reset.css";
@import "./component.css";

.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  min-width: 300px;
  -webkit-border-radius: 0 0 10rem 10rem;
  -moz-border-radius: 0 0 10rem 10rem;
  -ms-border-radius: 0 0 10rem 10rem;
  -o-border-radius: 0 0 10rem 10rem;
  border-radius: 0 0 10rem 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}
/*

========
App Logo
========

*/

.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-img {
  width: 100%;
  height: 100%;
}
/*

=========
Main Menu
=========

*/
.menu {
  display: none;
  position: relative;
  margin: 2.3rem;
}
.menu__item {
  margin: 0.5rem 1.2rem;
  cursor: pointer;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__link {
  color: var(--grey);
  cursor: pointer;
  -webkit-transition: color 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out;
  -ms-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.menu__link:hover {
  color: var(--white);
}
.menu__link--active {
  color: var(--white);
  position: relative;
  z-index: 1;
}
.menu__link--active::before {
  content: " ";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  top: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.8;
  background-color: var(--primary-color);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  border-radius: 5rem;
  z-index: -1;
  transform: rotate(50deg);
}
/*

===============
Navigation Menu
===============

*/
.nav-menu {
  position: fixed;
  top: 0;
  left: -25rem;
  bottom: 0;
  width: 22.5rem;
  background-color: var(--primary-color);
  padding: 2.5rem;
  z-index: 2;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.nav-menu--open {
  left: 0;
}
.nav-menu__information {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ffffffc1;
}
.nav-menu__information--logo {
  display: block;
  border: 2px solid var(--white);
  width: 4.5rem;
  height: 4.5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  border-radius: 5rem;
}
.nav-menu__information--title {
  color: var(--white);
  font-size: 1.4rem;
  margin-left: 0.7rem;
  cursor: default;
}
/*

===========
Mobile Menu
===========

*/
.mobile-menu {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.mobile-menu__item {
  min-width: max-content;
  width: min-content;
  margin-bottom: 1rem;
}
.mobile-menu__link {
  color: var(--white);
  position: relative;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.mobile-menu__link::before,
.mobileActive::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.3rem;
  height: 0.4rem;
  background-color: var(--white);
  margin: auto;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  border-radius: 5rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.mobile-menu__link::before {
  opacity: 0;
}
.mobileActive::before {
  opacity: 1;
}
.mobile-menu__link:hover,
.mobileActive {
  padding-left: 2rem;
}
.mobile-menu__link:hover::before {
  opacity: 1;
}
/*

=========
Nav Links
=========

*/
.nav-menu__link {
  color: var(--primary-color);
  background-color: var(--white);
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  flex-grow: 1;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  border-radius: 0.5rem;
  transition: all 150ms ease-in-out;
}
.nav-menu__link:hover {
  opacity: 0.8;
}
/*

=========
Nav Links
=========

*/
.nav__links {
  display: none;
}
.nav__link {
  color: var(--white);
  font-family: var(--primary-font-md);
  padding: 1rem 2rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  border-radius: 5rem;
}
.nav__link--border {
  border: 2px solid var(--white);
  transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
}
.nav__link--border:hover {
  background-color: var(--white);
  color: var(--black);
}
/*

=======
Nav Btn
=======

*/
.nav__btn {
  background-color: var(--white);
  width: 5.5rem;
  height: 5.5rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}
.nav__btn-line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--primary-color);
  position: relative;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  border-radius: 5rem;
  transition: all 100ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.nav__btn-line::before {
  top: -0.8rem;
}
.nav__btn-line::after {
  top: 0.8rem;
}
.nav__btn--open .nav__btn-line {
  background-color: transparent;
}
.nav__btn--open .nav__btn-line::before {
  -webkit-transform: translateY(10px) rotate(45deg);
  -moz-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}
.nav__btn--open .nav__btn-line::after {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -moz-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}
.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  -webkit-filter: blur(0.7);
  filter: blur(0.7);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/*

==============
Header Content
==============

*/

.header-content {
  align-items: center;
  text-align: center;
  color: var(--white);
  margin-top: 8.5rem;
  padding: 0 1rem;
}
.header-content__title {
  font-family: var(--secondary-font);
  font-size: 4.25rem;
  line-height: 4.5rem;
  left: 0;
  right: 0;
  margin: 0 auto 1.5rem auto;
  cursor: default;
}
.header-content__caption {
  max-width: 52rem;
  left: 0;
  right: 0;
  margin: 0 auto 2rem auto;
  cursor: default;
}
.header-content__link {
  background-color: var(--primary-color);
}

/*

-- Main --

*/

.main {
  padding: 4rem 0;
}

/*

========
Services
========

*/

.services {
  display: flex;
  flex-wrap: wrap;
  margin: -15rem -1rem 0rem -1rem;
}
.service {
  height: 30rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: var(--white);
  text-align: center;
  margin: 0 1rem 2rem 1rem;
  padding: 0 3rem;
  color: var(--black);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.service__img {
  display: block;
}
.service__title {
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  cursor: default;
  margin: 2rem 0 0.7rem 0;
}
.service__caption {
  cursor: default;
}

/*

============
Destinations
============

*/

.destinations {
  text-align: center;
  margin: 6rem -1rem 0 -1rem;
}
.destinations__logo {
  margin-bottom: 1rem;
  width: 9rem;
  height: auto;
}
.destinations__title {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--black);
  cursor: default;
}
.destinations__places {
  display: flex;
  flex-wrap: wrap;
  margin: 3.3rem 0;
}
.place {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 30rem;
  left: 0;
  right: 0;
  margin: 1rem;
  padding: 4rem;
  color: var(--black);
  background-color: var(--white);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
}
.place__banner {
  position: relative;
}
.place__img {
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
}
.place__like {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 4rem;
  height: 3.8rem;
  margin: 1.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--white);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
.place__like-icon {
  cursor: pointer;
}
.place__like-icon--active {
  fill: var(--primary-color);
}
.place__price {
  width: 14rem;
  height: 6rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: -1rem;
  margin: auto;
  cursor: default;
  background-color: var(--white);
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
  border-radius: 2rem 2rem 0 0;
}
.place__price--text {
  color: var(--primary-color);
}
.place__title {
  font-family: var(--secondary-font);
  margin: 1.5rem 0;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.place__caption {
  margin-bottom: 2.5rem;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.place__link {
  background-color: #8d8d8d10;
  color: var(--seconde-grey);
}
.destinations__btn {
  border: 0.2rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}
.destinations__btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/*

==================
    NewsLetter
==================

*/

.newsletter {
  background-color: var(--secondary-color);
  border-radius: 2rem;
  color: var(--dark);
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  margin: 6rem 0;
}
.newsletter__title {
  font-family: var(--secondary-font);
  font-size: 3rem;
  margin: 1.5rem auto;
}
.newsletter__caption {
  font-family: var(--primary-font-md);
}

.newsletter__email-box {
  position: relative;
  background-color: var(--white);
  height: 8rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
}
.newsletter__form {
  height: 100%;
  display: flex;
  align-items: center;
}
.newsletter__email-icon {
  flex-shrink: 0;
}
.newsletter__input {
  outline: none;
  border: none;
  height: 100%;
  color: #8d8d8d;
  background-color: var(--white);
  width: 100%;
  padding: 0 1rem;
  font-size: 1.6rem;
}
.newsletter__submit {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.newsletter__img {
  width: 100%;
}

/* === about us page === */

.aboutHeader {
  background: linear-gradient(rgba(59, 55, 53, 0.8), rgba(59, 55, 53, 0.8)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 300px;
}
.aboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.companyInformation {
  max-width: 700px;
}
.aboutUsTitle {
  font-size: 27.5px;
  color: #e1e1e1;
  font-family: var(--primary-font-md);
}
.aboutExplanation {
  color: #d2d2d2;
  font-size: 14px;
}
.tellInformation {
  font-family: var(--primary-font-md);
  color: #e76f51;
}
.addressInformation {
  font-family: var(--primary-font-md);
  color: #d2d2d2;
}
.addressInformation a {
  color: #e76f51;
}
.iframeGoogleMapTemplate {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.whenTheStoreIsOpen {
  font-size: 15px;
  font-family: var(--primary-font-md);
  color: #d2d2d2;
}
