:root {
  --orange: #e76f51;
  --white: #fff;
  --gray: #d2d2d2;
  --black: #3b3735;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Roboto";
}

/*

-- Reset Style

*/

a {
  text-decoration: none;
}

/*

-- Helper Class

*/

/*

-- Add Style

*/
.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 55rem;
  border-radius: 0 0 10rem 10rem;
  -webkit-border-radius: 0 0 10rem 10rem;
  -moz-border-radius: 0 0 10rem 10rem;
  -ms-border-radius: 0 0 10rem 10rem;
  -o-border-radius: 0 0 10rem 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}
/*

========
App Logo
========

*/
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-img {
  width: 100%;
  height: 100%;
}
/*

=========
Main Menu
=========

*/
.menu {
  display: none;
  margin: 2.3rem;
}
.menu__item {
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__link {
  color: var(--gray);
  cursor: pointer;
  transition: color 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out;
  -ms-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
}
.menu__link:hover {
  color: var(--white);
}
.menu__link--active {
  color: var(--white);
  position: relative;
  z-index: 1;
}
.menu__link--active::before {
  content: " ";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  top: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.8;
  border-radius: 5rem;
  background-color: var(--orange);
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  z-index: -1;
}
/*

===============
Navigation Menu
===============

*/
.nav-menu {
  position: fixed;
  top: 0;
  left: -25rem;
  bottom: 0;
  width: 22.5rem;
  background-color: var(--orange);
  padding: 2.5rem;
  z-index: 2;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.nav-menu--open {
  left: 0;
}
.nav-menu__information {
  display: flex;
  align-items: center;
}
.nav-menu__information--logo {
  display: block;
  border-radius: 5rem;
  border: 2px solid var(--white);
  width: 4.5rem;
  height: 4.5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
.nav-menu__information--title {
  color: var(--white);
  font-size: 1.4rem;
  margin-left: 0.7rem;
  cursor: default;
}
/*

===========
Mobile Menu
===========

*/
.mobile-menu {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.mobile-menu__item {
  min-width: max-content;
  width: min-content;
  margin-bottom: 1rem;
}
.mobile-menu__item:hover {
  opacity: 0.8;
}
.mobile-menu__link {
  color: var(--white);
}
/*

=======
Nav Links
=======

*/
.nav-menu__links {
}
.nav-menu__link {
  color: var(--orange);
  background-color: var(--white);
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  flex-grow: 1;
  text-align: center;
  width: 100%;
  transition: all 150ms ease-in-out;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}
.nav-menu__link:hover {
  opacity: 0.8;
}
/*

============
Header Links
============

*/
.header__links {
  display: none;
}
.header__link {
  color: var(--white);
  font-family: "Roboto Medium";
  padding: 1rem 2rem;
  border-radius: 5rem;

  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
.header__link--border {
  border: 2px solid var(--white);
  transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
}
.header__link--border:hover {
  background-color: var(--white);
  color: var(--black);
}
/*

=======
Nav Btn
=======

*/
.nav__btn {
  background-color: var(--white);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}
.nav__btn-line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  position: relative;
  border-radius: 5rem;
  transition: all 100ms ease-in-out;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 5rem;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.nav__btn-line::before {
  top: -0.8rem;
}
.nav__btn-line::after {
  top: 0.8rem;
}
.nav__btn--open .nav__btn-line {
  background-color: transparent;
}
.nav__btn--open .nav__btn-line::before {
  transform: translateY(6px) rotate(45deg);
  -webkit-transform: translateY(10px) rotate(45deg);
  -moz-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
}
.nav__btn--open .nav__btn-line::after {
  transform: translateY(-6px) rotate(-45deg);
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -moz-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
}
.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  filter: blur(0.7);
  transition: all 200ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-filter: blur(0.7);
}
