.footer {
  background-color: var(--secondary-color);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  color: var(--dark);
  padding-bottom: 4rem;
}
.footer > .container {
  padding-top: 1rem;
}
.footer__title {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.footer__scroll {
  width: 5rem;
  height: 5rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  position: relative;
  right: 0;
  top: -3.5rem;
  left: 0;
  margin: 0 auto;
}

.footer__wrapper {
  /*display: flex;*/
  /*justify-content: space-between;*/
}

/*
  
  ==================
   Footer Left
  ==================
  
  */
.footer__left {
  max-width: 60rem;
}
.footer-content {
  margin-bottom: 2rem;
}
.footer-content__description {
}
.footer-app {
  display: none;
}
.footer__title {
}
.footer-app__link {
}
.footer-app__img {
}

/*
  
  ==================
   Footer Right
  ==================
  
  */

.footer__right {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.footer-list {
  width: 16rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.footer-pages {
}
.footer-pages__item {
}
.footer-pages__link {
  color: var(--dark);
}
.footer-pages__link:hover {
  text-decoration: underline;
}

.footer-app--mobile {
  display: block;
}

.footer__copy-right {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}
