/*

container

*/
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 380px) {
  .header-content__title {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
  .nav__btn,
  .nav-menu,
  .overlay {
    display: none !important;
  }
  .overlay {
    opacity: 0 !important;
  }
  .menu {
    display: flex;
  }
  .nav__links {
    display: block;
  }
  .header-content {
    margin-top: 5rem;
  }
  .header-content__title {
    font-size: 6rem;
    line-height: 7rem;
  }
  .services {
    margin-top: -10rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
